/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    margin: 10px;
    color: white;
}

h2 {
    font-size: 25px; 
}

button {
    border: none;
    padding: 10px 15px;
    border-radius: 29px;
    margin: 0 5px;
}

i {
    height: 11px;
    margin-top: 20px;
}

span {
    color: white;
}


li {
    list-style-type: none;
    line-height: 190%;
}

/* head */


.container {
    width: 1100px;
    margin: 0 auto;
}

header{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
}

#bg-blue {
    background-color: blue;
}

#bgheader  {
    height: 1550px;
}

#header-container {
    width: 1100px;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

#header-paragrafo {
    height: 200px;
    width:700px;
    margin-top: 70px;
    text-align: center;
    color: rgb(228, 236, 244);
}

#access , #dowload , #downloadsecond {
    color: black;
}

/* head nav*/
#nav-container {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img{
    height: 60px;
}

header h1 {
    font-size: 50px;
    margin: 20px;
}

#p-head {
    height: 120px;
    margin-bottom: 20px;
}

#dark-button {
    background-color: rgb(35, 39, 42);
    font-size: 16px;
}

#lilac-button {
    color:black;
    font-size: 16px;
}

/*main*/

.section-box {
    height: 700px;
    display:flex;
    align-items: center;
    padding-top: 30px;
}

main h1 {
    font-size: 37px;
    padding-bottom: 20px;
}

div p {
    font-size: 20px;
    line-height: 150%;
}


.section-content {
    width: 40%;
    height: 400px;
    line-height: 260%;
}

.section-img {
    width: 60%;
}


/* Container big*/
.big {
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
#section-img-big {
    width: 400;
}

#section-content-big {
    height: 150px;
    width: 100%;
    text-align: center;
    padding: 10px;
}


#downloadmain {
    text-align: center;
}

#lastbutton {
    margin: 20px auto; 
}


/* Piè di pagina */

#footer-box {
    width: 100%;
    background-color: rgb(35, 39, 42);
    align-items: stretch;
    min-height: 600px;

}

.container-footer {
    width: 1100px ;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    
}

.large {
    display: flex;
    flex-direction: column;
    width: 30%;
}

h3 {
    color: rgb(110, 132, 210);
    margin-left: 10px
}

footer div > img{
    width: 20px;
}

#titolo-footer {
    color: rgb(110, 132, 210);
    font-size: 30px;
 }


#footer-line {
    border: 3px solid rgb(110, 132, 210);
}


hr {
    margin: 4px solid rgb(110, 132, 210);
    margin: 0 auto;
    width: 1100px;
}

#logo-footer {
    width: 120px;
    height: 120px;
}

#black {
    color: black;  
}

#registration-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}